.popup__job {
	margin: 30px 0 0 36px;
	width: 354px;
	height: 27px;
	border-style: none;
	border-bottom: 1px solid #CCCCCC;
	font-weight: 400;
	font-size: 14px;
	line-height: 16.94px;
}
.popup__job:focus {
	border-bottom: 0;
	outline: none;
  	box-shadow: 0 0 0 3px lightskyblue;
  	border-radius: 5px;
}
@media screen and (max-width: 555px) {
	.popup__job {
		margin: 30px 0 0 22px;
		width: 238px;
	}
}