.popup__input {
	padding: 0;
	width: 354px;
	border-style: none;
	border-bottom: 1px solid #CCCCCC;
	font-weight: 400;
	font-size: 14px;
	line-height: 16.94px;
}
.popup__input:focus {
	border-bottom: 0;
	outline: none;
  	box-shadow: 0 0 0 3px lightskyblue;
  	border-radius: 5px;
}
@media screen and (max-width: 555px) {
	.popup__input {
		width: 238px;
	}
}