.popup__subname-profile {
	margin-top: 46px;
	width: 354px;
	height: 27px;
	border-style: none;
	opacity: 0.2;
	border-bottom: 1px solid #000000;
}
@media screen and (max-width: 555px) {
	.popup__subname-profile {
		width: 238px;
		margin-top: 30px;
	}
}