.header {
	max-width: 880px;
	height: 73px;
	margin: 45px auto 0;
	border-bottom: 1px solid #545454;
	position: relative;
}
@media screen and (max-width: 440px) {
	.header {
		margin-top: 28px;
		height: 55px;
	}
}