.header {
	max-width: 880px;
	height: 73px;
	margin: 0 auto;
	padding-top: 45px;
	border-bottom: 1px solid #545454;
	position: relative;
}
@media screen and (max-width: 440px) {
	.header {
		padding-top: 28px;
		height: 55px;
	}
}