.button__edit {
	margin: -20px 0px 0px 18px;
    background-color: black;
    background-image: url(../../../images/icon-button/Edit-Button.svg);
	min-width: 24px;
    min-height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    border: 1px solid #FFFFFF;
}
.button__edit:hover {
	opacity: 0.6;
}
@media screen and (max-width: 440px) {
	.button__edit  {
        margin: -28px 0px 0px 10px;
        min-width: 18px;
        min-height: 18px;
        background-size: 8px;
	}
}
