.button_close {
	background: linear-gradient(to right, #303d87 100%, rgb(0 0 0 / 0) 0px);
    background-image: url(../../../images/icon-button/Close-Button.svg);
	width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    position: absolute;
    right: -35px;
    top: -35px;
    border-style: none;
}

.button_close:hover {
	opacity: 0.6;
	cursor: pointer;
}
@media screen and (max-width: 555px) {
	.button_close{
        right: 0px;
        top: -36px;
        width: 20px;
        height: 20px;
        background-size: 20px;
	}
}