.button_edit {
	margin: 5px 0px 0px 18px;
    background-color: black;
    background-image: url(../../../images/Edit-Button.svg);
	width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    border: 1px solid #FFFFFF;
}
.button_edit:hover {
	opacity: 0.6;
	cursor: pointer;
}
@media screen and (max-width: 440px) {
	.button_edit  {
        margin: -5px 0px 0px 10px;
        width: 18px;
        height: 18px;
        background-size: 8px;
	}
}